<header aria-label="Site Header" class="bg-white">
  <nav class="nav">
    <ul class="nav-ul">
      <li class="li">
        <h1 class="category">
          SIGN UP
        </h1>
      </li>
    </ul>
  </nav>
</header>
