<div class='splash'>
  <div class='title'>
    <h1> Budget App</h1>
  </div>
  <div class='link-buttons'>
    <a href="/users/sign_in" class='login-button'>
      <center>
        <button class='login-button'>
          Login
        </button>
      </center>
    </a>
    <br />
    <a href="/users/sign_up" class='signup-button'>
      <center>
        <button class='signup-button'>
          Sign Up
        </button>
      </center>
    </a>
  </div>
</div>