body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f3f2;
}

.bg-white {
  background-color: #306ba9;
}

.bg-white a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  background-color: #f1f3f2;
  display: flex;
  flex-direction: column;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  list-style: none;
  height: 10rem;
}

.li {
  text-decoration: none;
  font-size: 1rem;
}

.icon-photo {
  width: 6rem;
  height: 6rem;
}

.single-category {
  gap: 2rem;
  background-color: #fff;
  margin: 10px;
}

.single-category:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.single-purchase {
  gap: 2rem;
  background-color: #fff;
  margin: 10px;
}

.all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.cate,
.pur {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #cacaca;
}

.show-cate,
.show-pur {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #306ba9;
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.date-time {
  color: #cacaca;
  padding: 1rem;
}

.view-t {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #60b625;
  width: 9rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.new-cate {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #306ba9;
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 40%;
  height: 100%;
  display: none;
  background-color: #306ba9;
  color: #fff;
}

.new-pur {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #306ba9;
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  color: #4d5359;
  font-size: large;
  font-weight: 900;
}

.show-cate a,
.new-cate a,
.show-pur a,
.new-pur a {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  background-color: #60b625;
  height: 10rem;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
}

.scan {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
}

p.scan {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  height: 4rem;
}

.login-head {
  font-style: italic;
  font-size: 6rem;
  color: #306ba9;
}

.log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email,
.pass,
.signuppass,
.signupemail,
.signupname,
.signupcomf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.lp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #30a966;
}
