body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f3f2;
}

.splash {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-white {
  background-color: #306ba9;
}

.input {
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

.sign-up-form {
  margin: 15px;
}

.format {
  width: 100px;
  margin-top: 10px;
}

.back-link {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3778c2;
  color: #fff;
  height: 100px;
}

.bg-white a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  background-color: #f1f3f2;
  display: flex;
  flex-direction: column;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  list-style: none;
  height: 10rem;
}

.li {
  text-decoration: none;
  font-size: 1rem;
}

.icon-photo {
  width: 6rem;
  height: 6rem;
}

.single-category {
  gap: 2rem;
  background-color: #fff;
  margin: 10px;
}

.single-category:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.single-purchase {
  gap: 2rem;
  background-color: #fff;
  margin: 10px;
}

.purfields {
  margin: 10px;
}

.all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.cate,
.pur {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #cacaca;
}

.show-cate,
.show-pur {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #306ba9;
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.date-time {
  color: #cacaca;
  padding: 1rem;
}

.view-t {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #60b625;
  width: 9rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.new-cate {
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.menu {
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 40%;
  height: 100%;
  display: none;
  background-color: #306ba9;
  color: #fff;
}

.new-pur {
  border: 1px solid;
  border-radius: 1rem;
  background-color: #306ba9;
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  color: #4d5359;
  font-size: large;
  font-weight: 900;
}

.show-cate a,
.new-cate a,
.show-pur a,
.new-pur a {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  background-color: #60b625;
  height: 10rem;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
}

.scan-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  height: 60%;
  width: 90%;
}

.login-button {
  background-color: #3778c2;
  height: 40px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.email,
.pass,
.signuppass,
.signupemail,
.signupname,
.signupcomf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-button {
  background-color: #f0eeee;
  height: 40px;
  color: #434b54;
  border-radius: 4px;
  font-weight: 600;
  border: none;
}

.splash-links {
  text-decoration: none;
}

.title {
  color: #434b54;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.back {
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
}

.next {
  margin-right: 5px;
  font-size: 20px;
}
